@{
    ViewData["Title"] = "Login | Register";
}

<h1 class="text-center">Welcome!</h1>
<div class="row">
    <div class="col">
        <partial name="_Registration"></partial>
    </div>
    <div class="col">
        <partial name="_Login"></partial>
    </div>
</div>
